.function-color(@color, @variant) {
    .-(length(@color));
    .-(@i) when (@i > 0) {.-((@i - 1))}
    .-(@i) when (@variant = extract(extract(@color, @i), 1)) {
        @found: extract(@color, @i + 1);
    }
    
    return: @found;
}

.generate-color(@color, @colors, @index:1) when(@index < length(@colors)) {
    @variant: extract(@colors, @index);
    @value: extract(@colors, @index + 1);
    
    .createRule() when (@variant = "base") {
        .@{color} {
            background-color: @value !important;
        }

        .@{color}-text {
            color: @value !important;
        }        
    }
    
    .createRule() when not (@variant = "base") {
        .@{color}-@{variant} {
            background-color: @value !important;
        }

        .@{color}-@{variant}-text {
            color: @value !important;
        }        
    }
   
    .createRule();
    
    .generate-color(@color, @colors, @index + 2);
}

.generate-colors-groups(@color, @colors) {
    @length: length(@colors);
    .generate-color(@color, @colors);
}