span.chip {
    background-color: @chip-background-color;
    min-width: 3rem;
    padding: 0 @chip-padding;
    text-align: center;
    font-size: @chip-text-size;
    color:@chip-text-color;
    line-height: @chip-height;
    height: @chip-height;
    float: right;
    box-sizing: border-box;
    border-radius: 2px;
}